<h1><%= @place.name %></h1>

<h3>Entries</h3>

<ul>
  <% @place.entries.each do |entry| %>
    <li>
      <strong><%= entry.title %></strong><br>
      <%= entry.description %><br>
      <%= entry.posted_on %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "New Entry", new_place_entry_path(@place) %>
</p>

<p>
  <%= link_to "Back to All places", places_path %>
</p>
