<h1><%= @place.name %></h1>

<h3>Entries</h3>

<ul>
  <% @place.entries.each do |entry| %>
    <li>
      <strong>Title:</strong> <%= entry.title %><br>
      <strong>Description:</strong> <%= entry.description %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "New Entry", new_entry_path(place_id: @place.id) %>
</p>

<p>
  <%= link_to "Back to All places", places_path %>
</p>
